div.crazy {
	background-color: #334477;
	border-radius: 8px;
	color: #e1e1e1;
	div.title {
		line-height: 1.2em;
		font-family: "Denk One", "sans-serif";
		font-size: 8em;
		padding: 12px;
		text-align: center;
	}
}

div.subtext {
	padding: 1em;
	text-align: center;
}